@import url("https://fonts.googleapis.com/css2?family=Montserrat+Subrayada:wght@400;700&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Pacifico&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#starter {
  height: 10px;
  background-color: #2fcb72;
}

#onepage {
  background-image: url("img\ \(5\).png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 600px;
}

.container {
  max-width: 1200px;
  margin: auto;
}

.logo h1 {
  font-size: 60px;
  line-height: 20px;
  color: #ffffff;
  font-weight: 400;
  font-family: "Pacifico";
  padding-top: 175px;
}

.logo p {
  width: 469px;
  height: 216px;
  font-size: 24px;
  line-height: 36px;
  color: #ffffff;
  font-weight: 500;
  font-family: "Helvetica Neue";
  padding-top: 80px;
}

.social {
  display: flex;
  margin-left: -15px;
}

.social a {
  width: 22px;
  height: 25px;
  border-radius: 2px;
  position: relative;
  width: 52px;
  height: 52px;
  border-radius: 26px;
  background-color: #ad9b93;
  margin-left: 15px;
}

.social #windows {
  background-color: #2dcb71;
}

.social a:active {
  background-color: #22a55b;
}

.social i {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  color: #f9f9f9;
}

/* End of the first part */

.ikinci-one {
  display: flex;
  justify-content: space-between;
}

.ikinci-one img {
  margin-left: 130px;
  margin-top: 60px;
  margin-bottom: 30px;
}

.ikinci-one h2 {
  font-size: 22px;
  line-height: 18px;
  color: #222222;
  font-weight: 600;
  font-family: "Raleway";
  text-align: center;
  margin-bottom: 30px;
}

.ikinci-one p {
  width: 358px;
  height: 130px;
  font-size: 16px;
  line-height: 26px;
  color: #848484;
  font-family: "Helvetica Neue";
  text-align: center;
  padding-bottom: 60px;
}

/* end of the part of 2 */

.enter {
  background-color: #e3e3e3;
}

.enter h1 {
  font-size: 22px;
  line-height: 18px;
  color: #222222;
  font-weight: 600;
  font-family: "Raleway";
  padding-top: 60px;
}

.enter p {
  width: 491px;
  height: 184px;
  font-size: 16px;
  line-height: 26px;
  color: #848484;
  font-family: "Helvetica Neue";
  padding-top: 30px;
  padding-bottom: 30px;
}

.enter input {
  width: 305px;
  height: 56px;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  background-color: #ffffff;
  border: 1px solid #c8c8c8;
  font-size: 18px;
  line-height: 18px;
  color: #848484;
  font-family: "Open Sans";
  padding-left: 25px;
}

.enter button {
  width: 141px;
  height: 56px;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: #2ecc71;
  font-size: 22px;
  line-height: 18px;
  color: #ffffff;
  font-weight: 700;
  font-family: "Raleway";
  border: none;
}

.enter button:active {
  background-color: #16ba5d;
}

.typingenter {
  display: flex;
  padding-bottom: 150px;
}

.forimg {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Starting the part of I don`t know how */

.endlesspart #paragraph1 {
  width: 887px;
  height: 100px;
  font-size: 18px;
  line-height: 30px;
  color: #848484;
  font-style: italic;
  font-family: "Helvetica Neue";
  text-align: center;
  padding-top: 60px;
  margin-left: 200px;
}

.endlesspart h4 {
  font-size: 18px;
  line-height: 20px;
  color: #2e2e2e;
  font-weight: 700;
  font-family: "Raleway";
  text-align: center;
  padding-top: 25px;
  padding-bottom: 26px;
}

.endlesspart h3 {
  font-size: 24px;
  line-height: 24px;
  color: #000000;
  font-weight: 600;
  font-family: "Raleway";
  text-align: center;
  padding-top: 55px;
  padding-bottom: 30px;
}

.endlesspart #paragraph2 {
  font-size: 16px;
  line-height: 26px;
  color: #848484;
  font-family: "Helvetica Neue";
  padding-bottom: 25px;
  margin-left: 375px;
}

.endlesspart #firstsocial {
  margin-left: 80px;
}

.endlesspart #lastsocial {
  padding-bottom: 30px;
  margin-left: 475px;
}

/* Starting the last part (In wa Allah) */

.footerpart {
  height: 132px;
  background-color: #e3e3e3;
}

.footerpart ul {
  font-size: 16px;
  line-height: 26px;
  color: #848484;
  font-family: "Helvetica Neue";
  display: flex;
  justify-content: center;
  padding-top: 40px;
}

.footerpart li {
  display: flex;
  margin: 15px;
}
